<div class="web-home-container">
  <div class="web-inner-center">
    <div class="web-home-tips">
      <div>
        <h1 class="web-home-tips-title web-home-tips-title-red">SAVE</h1>
        <h1 class="web-home-tips-title web-home-tips-title-black">YOUR TIME</h1>
      </div>
      <div class="web-home-tips-step-container">
        <p class="web-home-tips-step"><span class="web-strong">1.</span>Upload your beautiful images</p>
        <p class="web-home-tips-step"><span class="web-strong">2.</span>Drink a coffee</p>
        <p class="web-home-tips-step web-home-tips-step-2"><span class="web-strong">3.</span>Download!</p>
      </div>
      <div>
        <button class="web-home-tips-button" (click)="goToUpload()">Tag Now!</button>
      </div>
    </div>
  </div>
  <div class="web-big-banner">

  </div>
  <div class="web-home-intro-container">
    <p class="web-home-intro-title web-top-20">London Eye</p>
    <p class="web-home-intro-title">  Beside the Thames</p>
    <p class="web-home-intro-title">  From flyingjack
    </p>

  </div>
</div>
