<div class="web-container">
  <app-sidenav>
  </app-sidenav>

  <div class="web-main-body">
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of links" [routerLink]="link.path"
           (click)="activateLink = link"
           [active]="activateLink.path == link.path"> {{link.title}}
        </a>
    </nav>
    <div [@routeAnimations]="prepareRoute(outlet)" class="prepareRoute">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div *ngIf="activateLink.footer == true" class="web-footer z-index-bottom">
      <img src="assets/menu-bg.png">
    </div>
  </div>
</div>
